body {
    margin: 0;
    padding: 0;
}

:root {
    --font-size: 1.5rem;
}

main {
    margin: 0 5%;
}


h1, h2, h3, h4, h5 {
    font-family: Muli, sans-serif;
}

a {
    text-decoration: none;
}

a.btn {
    font-family: Muli, sans-serif;
    text-align: center;
}

.user-buttons a.btn{
    font-size: large;
    margin-left: 5rem;
    padding: 0.3rem;
    text-align: center;
}

.event-buttons a.btn{
    padding: 0.1rem;
    margin-right: 3rem;
    font-size: medium;
    margin-top: 4rem;
}


/* Nav bar  */
.dropdown li a {
    font-size: 1rem;
}

.dropdown-menu {
    min-width: 0;
}

.container-fluid .dropdown img {
    width: 40px;
    height: 40px;
    margin: 0;
}


/*  Page title */
h2 {
    font-family: sans-serif;
    margin-bottom: 2.5rem;
    display: inline-block;
}


/* Index page. */
div.index {
    margin-top: 3rem;
    text-align: center;
}

div.index img {
    height: 20rem;
    width: 20rem;
}

figcaption {
    font-size: var(--font-size);
}


/* Events home page. */
#posted-by a {
    font-size: var(--font-size);
}

#posted-by img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.container-fluid a {
    font-size: var(--font-size);
}

.container-fluid p {
    font-size: 1.3rem;
}

#badge {
    font-size: .8rem;
    color: white;
    float: right;
}

.container-fluid img {
    border-radius: 4%;
    height: 10rem;
    width: 20rem;
}


/* Events detail page. */
div.image {
    text-align: center;
}

.event a {
    font-size: var(--font-size);
}

.event img {
    border-radius: 1%;
    height: 25rem;
    width:45rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.comments {
    border: 1px solid darkgray;
    /* margin: 0 auto; */
    width: fit-content;
}

.comments i {
    color: rgb(206, 209, 215);
    margin-left: 3rem;
}

form.cs input, textarea {
    width: 29rem;
}

textarea {
    height:13rem;
}

.related .events ul {
    list-style: none;
    display: inline-flex;
    justify-content: space-evenly;
}

.related img {
    width: 13rem;
    height: 13rem;
    border-radius: 4%;
}


/* Private Events page. */
div.alert {
    width: fit-content;
    margin:0 auto;
}


/* Categories page. */
.category-container {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.container-1 .card {
    height: fit-content;
}

.category-events figure {
    display: flex;
    flex-flow: row wrap;
}

figure div {
    margin: 0 auto;
}

.category-events img {
    height: 13rem;
    width: 13rem;
}

.category-events ul {
    display: inline-flex;
    justify-content: space-evenly;
    list-style-type: none;
}


/* User profile page. */
.user {
    font-size: var(--font-size);
    text-align: center;
}


/*  Forms. */
.form-control {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

form {
    width: 100%;
}

form.comment {
    margin: 0 ;
    font-size: 13px; 
}

form .form-group {
    margin: 0 auto;
    margin-bottom: 2.5rem;
    font-size: var(--font-size);
}

.form-check .form-check-input {
    float: none;
    border-radius: 0 ;
}

.form-group input {
    /* width: 100%; */
}

.form-group label {
    text-align: center;
    display: block;
}

form .submit {
    text-align: center;
}

/* Footer */
footer {
    font-size: var(--font-size);
    bottom: 0;
    color:steelblue;
}

footer a {
    font-weight: bold;
    color: green;
}