body {
    margin: 0;
    padding: 0;
}

:root {
    --font-size: 1.5rem;
}

main{
    margin: 0 5%;
}


h1, h2, h3, h4, h5{
    font-family: Muli, sans-serif;
}

a {
    text-decoration: none;
}

a.btn{
    padding:0;
    font-family: Muli, sans-serif;
    text-align: center;
}

.user-buttons a.btn{
    font-size: large;
    margin-left: 5rem;
    padding: 0.3rem;
    text-align: center;
}

.event-buttons a.btn{
    padding: 0.1rem;
    margin-right: 3rem;
    font-size: medium;
    margin-top: 4rem;
}


/* Nav bar  */
.navbar{
    padding: 5px;
}

nav a.navbar-brand{
    color:white;
    font-size: 2rem;
}

nav a.navbar-brand:hover{
    color: navy;
    transition: ease .3s;
}

.navbar-nav i {
    font-size: 2rem;
}

.navbar-nav a{
    color: white;
    font-size: 1.5rem;
    padding: 0;
}

.navbar-nav button#userMenu ul li a{
    color: black;
    padding: 5px;
}

.dropdown button {
    color: white;
    border: 1px solid wheat;
}

div.dropdown li a{
    color: dodgerblue;
    border: none;
    font-size: 1.3rem;
    text-align: center;
    padding: 0;
}

#userMenu img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}


/*  Page title */
h2 {
    font-family: sans-serif;
    margin-bottom: 5rem;
}

#searchbar {
    float: right;
    margin-right: 8rem ;
}

#searchbar input {
    border: 2px solid rgb(14, 208, 218);
    font-family: "Lucida Blackletter"
}


/* Index page. */
div.index {
    margin-top: 3rem;
    text-align: center;
}

div.index img {
    height: 20rem;
    width: 20rem;
}

figure {
    margin: 4rem;
}

figcaption {
    font-size: var(--font-size);
}


/* Events home page. */
#posted-by a {
    font-size: var(--font-size);
}

#posted-by img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.container-fluid a {
    font-size: var(--font-size);
}

.container-fluid p {
    font-size: 1.3rem;
}

#badge {
    font-size: .8rem;
    color: white;
    float: right;
}

.container-fluid img {
    border-radius: 4%;
    height: 10rem;
    width: 20rem;
    margin-bottom: 2rem;
}


/* Events detail page. */
.event-detail{
    font-size: var(--font-size);
    margin: 0 auto;
}

.event a {
    font-size: var(--font-size);
}

.event img {
    border-radius: 1%;
    height: 25rem;
    width:45rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.comments {
    border: 1px solid lightgrey;
}

.comments i {
    color: rgb(206, 209, 215);
    margin-left: 3rem;
}

form.cs input, textarea{
    width: 29rem;
}

textarea {
    height:15rem;
}

.related .events ul{
    list-style: none;
    display: inline-flex;
    justify-content: space-evenly;
}

.related img {
    width: 15rem;
    height: 15rem;
    border-radius: 0;
}


/* Private Events page. */
div.alert {
    width: fit-content;
    margin:0 auto;
}


/* Categories page. */
.container-1 {
    text-align: left;
    margin-top: 0;
}

.container-1 a {
    font-size: 1.5rem;
}

.container-1 a:hover {
    color: black;
}

.container-1 p {
    font-size: 1.8rem;
}

.category-events a{
    font-size: 1.8rem;
}

.category-events img {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
}


/* User profile page. */
.user {
    font-size: 1.6rem;
    text-align: center;
}

.user a {
    font-size: 1.8rem;
}


/*  Forms. */
form {
    margin: 0 3%;
 
}

form.comment {
    margin: 0 ;
    font-size: 13px; 
}

.form-group {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.form-group input {
    font-size: 1.3rem;
}

.form-group p {
    font-size: 1.7rem;
}


/* Footer */
footer{
    font-size: var(--font-size);
    bottom: 0;
    color:steelblue;
    align-items: center;
}

footer a {
    font-weight: bold;
    color: green;
}