body {
    margin: 0;
    padding: 0;
}

main{
    margin-left: 10%;
    margin-right: 10%;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4, h5{
    font-family: Muli, sans-serif;
}

a.btn{
    padding:0;
    font-family: Muli, sans-serif;
    text-align: center;
}

.user-buttons a.btn{
    font-size: large;
    margin-left: 5rem;
    padding: 0.3rem;
    text-align: center;
}

.event-buttons a.btn{
    padding: 0.1rem;
    margin-right: 3rem;
    font-size: medium;
    margin-top: 4rem;
}


/* Nav bar  */
.navbar{
    padding: 5px;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav a.navbar-brand{
    color:white;
    font-size: 2rem;
}

nav a.navbar-brand:hover{
    color: navy;
    transition: ease .3s;
}

.navbar-nav i {
    font-size: 2rem;
}

.navbar-nav a{
    color: white;
    font-size: 1.5rem;
    padding: 0;
}

.navbar-nav button#userMenu ul li a{
    color: black;
    padding: 5px;
}

.dropdown button {
    color: white;
    border: 1px solid wheat;
}

div.dropdown li a{
    color: dodgerblue;
    border: none;
    font-size: 1.3rem;
    text-align: center;
    padding: 0;
}

#userMenu img {
    width: 3rem;
    height: 3.5rem;
    border-radius: 50%;
}


/*  Page title */
h2 {
    font-family: sans-serif;
    border-bottom: 1px solid gainsboro;
    padding: 5px 0; 
    text-align: left;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

#searchbar {
    float: right;
    margin-right: 8rem ;
}

#searchbar input {
    border: 2px solid rgb(14, 208, 218);
    font-family: "Lucida Blackletter"
}


/* Index page. */
.container {
    margin-top: 3rem;
    text-align: center;
}

img {
    border-radius: 5%;
    height: 18rem;
    width: 20rem;
    margin-top:0;
    margin-bottom:0;
    padding: 0;
}

figure {
    margin: 4rem;
}

figcaption{
    font-size: 1.5rem;
}


/* Events home page. */
.events-container {
    border-bottom: 0.1rem solid dodgerblue ; 
    margin-left: 10% ;
    margin-right: 10% ;
    padding:  40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
}

.events-container a{
    font-size: 2rem;
    color: black;
}

.events-container p {
    font-size: 1.5rem;
    color: cadetblue;
}

#badge {
    font-size: 1rem;
    color: white;
    float: right;
}

.events-container a.btn{
    font-size: 1.2rem;
}

.events-container a.btn:hover{
    color: white;
    text-decoration:none;
}

.events-container a:hover{
    color: #394ae8;
    font-weight: normal;
    text-decoration:none;
}

.events-container img{
    border-radius: 4%;
    height: 12rem;
    width: 20rem;
    margin-bottom: 1rem;
}


/* messages */
.success-messages  {
    font-size: x-large;
    background-color: lightgreen ;
    width: 100%;
    text-align: left;
    padding: 1rem ;
    margin-bottom: 3rem;
}

.error-messages {
    color:rgb(246, 192, 192);
    font-size: x-large;
    width: 100%;
    text-align: left;
    padding: 1rem ;
    margin-bottom: 3rem;

}

.error-messages a{
    float: right;
    color: white;
}


/* Events detail page. */
#event a{
    font-size: 1.5rem;
}

#event img{
   border-radius: 1%;
    height: 25rem;
    width:45rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.event-detail{
    font-size: 1.5rem;
    font-family:sans-serif;
    font-weight: lighter;
}

.comments{
    font-size: 22px;
    border: 1px solid lightgrey;
}

.comments i{
    color: rgb(206, 209, 215);
    font-size: large;
    margin-left: 3rem;
}

form.cs input, textarea{
    width: 29rem;
}

textarea {
    height:15rem;
}

.related .events ul{
    list-style: none;
    display: inline-flex;
}

.related img {
    width: 16rem;
    height: 15rem;
    border-radius: 0;
}


/* Private Events page. */
#sidenote{
    width: fit-content;
    margin:0 auto;
    border: 1px solid tomato;
    padding: 0;
}



/* Categories page. */
.container-1 {
    text-align: left;
    margin-top: 0;
}

.container-1 a {
    font-size: 1.5rem;
}

.container-1 a:hover{
    color: black;
}

.container-1 p {
    font-size: 1.8rem;
}

.category-events a{
    font-size: 1.8rem;
}

.category-events img {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
}


/* User profile page. */
.user{
    font-size: 1.6rem;
    text-align: center;
}

.user a{
    font-size: 1.8rem;
}


/*  Forms. */
form{
    margin-left: 3%;
    margin-right: 3%;
}

form.comment{
    margin: 0 0 0 0;
    font-size: 13px; 
}

h5{
   counter-reset:none;
}

.form-group {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.form-group input {
    font-size: 1.3rem;
}

.form-group p {
    font-size: 1.7rem;
}

/* Footer */
footer{
    font-size: 1.7rem;
    position: sticky;
    top: 0;
    margin-bottom: 0;
    height: auto;
    color:steelblue;
    align-items: center;
}

footer a{
    font-weight: bold;
    color: green;
    
}

