{% extends 'base.html' %}


{% block title %}
<h2> Delete account </h2>
{% endblock %}


{% block content %}
<h3> {{ user.username|title }} </h3>
<form action="" method="post">
    {% csrf_token %}
    <p> Are you sure you want to delete your account? This action can not be undone! </p> 
    <button class="btn btn-danger py-2 px-3"> Delete </button>
    <a href="{{ user.get_absolute_url }}" class="btn btn-outline-dark mx-5 py-0">Cancel</a>
</form>
{% endblock %}


{% block footer %} {% endblock %}