{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
<h2 id="title" > Edit your profile </h2>
{% endblock title %}


{% block content %}
{% if messages %}
    <div class="error-messages bg-danger">
        {% for messages in messages %}
            {{messages}} <a href="" class="close">x</a>
        {% endfor %}
    </div>
{% endif %}    
<form enctype="multipart/form-data" method="post" action="" class="form-group">
    {% csrf_token %}
    {{ form|crispy }}

    <p> <input type="submit" value="Save changes" class="btn btn-primary"> </p>
</form>
{% endblock content %}


{% block footer %} {% endblock %}