{% extends 'base.html' %}
{% load bootstrap4 %}


{% block title %}
<h2> Log in </h2> 
{% endblock title %}


{% block search %}
{% endblock search %}


{% block content %}
<div class="form-control p-5">
    <form method="post" action="" class="form-group">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="submit">
            <a href="">Forgotten password? </a> <br>
            <button type="submit" class="btn btn-outline-success mt-5"> Log in  </button> <hr>
            <p class="mx-0"> Don't have an account? <a href="{% url 'accounts:register' %}"> Register </a> </p>
        </div>
    </form>
</div>
{% endblock content %} 


{% block footer %} {% endblock %}