{% extends 'base.html' %}


{% block title %}
<h2> Password Change Done </h2>
{% endblock title %}



{% block content %}
{% if messages %}
    <div class="messages text-success">
        {% for messages in messages %}
            {{ messages }} 
        {% endfor %}
    </div>
{% endif %}

<div class="mt-5">
    <a href="{% url 'events:home' %}" class="btn btn-outline-primary p-2" >Go home</a>
    <a href="{{user.get_absolute_url}}" class="btn btn-outline-warning mx-5 p-2">Go to profile</a>
</div>
{% endblock content %}


{% block footer %} {% endblock footer %}