{% extends 'base.html' %}


{% block title %}
<h2> Password Change Done </h2>
{% endblock title %}


{% block content %}
{% if messages %}
    <div class="alert alert-success w-75 m-5" role="alert">
        {% for message in messages %}
            <span> {{ message }} </span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        {% endfor %}
    </div>
{% endif %}

<div class="mt-5 text-center">
    <a href="{% url 'events:home' %}" class="btn btn-outline-primary p-1">Go to home page</a>
    <a href="{{ user.get_absolute_url }}" class="btn btn-outline-warning mx-5 p-1">Go to profile page</a>
</div>
{% endblock content %}


{% block footer %} {% endblock footer %}