{% extends 'base.html' %}
{% load bootstrap4 %}


{% block title %}
<h2> Register </h2>
{% endblock title %}


{% block search %}
{% endblock search %}


{% block content %}
{% if messages %}
    <div class="error-messages bg-danger">
        {% for messages in messages %}
            {{ messages }} <a href="" class="close">x</a>
        {% endfor %}
    </div>
{% endif %}

<div class="form-control p-5">
    <form enctype="multipart/form-data" method="post" action="" class="form-group">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="submit">
            <button type="submit" class="btn btn-outline-success mt-5"/> Create account </button> <hr>
            <p class="mx-0"> Already have an account? <a href="{% url 'accounts:login' %}">Login</a></p>
        </div>
    </form>
</div>
{% endblock content %}


{% block footer %} {% endblock %}