{% extends 'base.html' %}


{% block title %}
<h2> {{ user.username|title }} </h2>
{% endblock title %}    


{% block content %}
<div class="user my-5">
    {% if messages %}
        <div class="alert alert-success w-75 m-5" role="alert">
            {% for message in messages %}
                <span> {{ message }} </span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            {% endfor %}
        </div>
    {% endif %}
    
    {% if user.image %}
        <img src="{{ user.image.url }}" alt=""> <br>
    {% else %}
       <img src="/static/images/anon.png" alt=""> <br>
    {% endif %} 
    <hr class="m-3">
    Username: {{ user.username }} <br>
    Email: {{ user.email }} <br>
    First Name: {{ user.first_name }} <br>
    Last Name: {{ user.last_name }} <br>
    Gender: {{ user.gender }} <br>
    Date of Birth:
    {% if user.date_of_birth %}
        {{ user.date_of_birth }}
    {% else %}
        Not set
    {% endif %}  <br>

    <div class="m-3">
        {% if request.user == user %}
            <a href="{% url 'accounts:edit-profile' user.username %}" class="btn btn-outline-secondary py-1">Edit profile</a>
            <a href="{% url 'accounts:password_change' %}" class="btn btn-outline-warning py-1 m-4" >Change password</a>
            <a href="{% url 'accounts:delete-account' user.username  %}" class="btn btn-outline-danger py-1">Delete account</a>
        {% endif %}
    </div>

    <hr>
    <div class="mt-5">
        <h3> Evnts by {{ user }} </h3>
        <p> {{ user }} has posted {{ user_events.count }} evnts. </p>
        {% for events in user_events %}
            <a href="{{ events.get_absolute_url }}"> {{ events }} </a> <br>
        {% endfor %}
    </div>
</div>
{% endblock content %}


{% block footer %} {% endblock footer %}

