{% extends 'base.html' %}
{% load static %}


{% block title %}
<h2> Evnts in {{ category }} </h2>
{% endblock title %}


{% block content %}
<div class="category-events">
    <figure class="mt-0">
        <figcaption>Evnts in this category could include birthday parties, holiday parties, christmas parties, halloween parties and all other types of parties. </figcaption> <br>
        <img src="/media/Screenshot (16).png" class="" alt="">
        <img src="/media/Screenshot (14).png" class="mx-3" alt="">
        <img src="/media/Screenshot (12).png" alt="">
    </figure>
    <hr>
    {% for events in queryset %}   
        ><a href="{{ events.get_absolute_url }}"> {{ events }} </a> {% if events.make_private %} - <i class="fa fa-lock" style="font-size: 20px;"></i> {% endif %} <br>
    {% endfor %} 
</div>
{% endblock  %}


{% block footer %}{% endblock footer %}
