{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
<h2> Edit evnt </h2> 
{% endblock title %}


{% block content %}
{% if form.errors %}
    <ol>
        {% for error in form.errors %}
        <li><strong>{{ error }}xxy </strong> </li>
        {% endfor %}
    </ol>
{% endif %}

{% if messages %}
    <div class="alert alert-danger w-75 m-5" role="alert">
        {% for message in messages %}
            <span> {{ message }} </span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        {% endfor %}
    </div>
{% endif %}

<form enctype="multipart/form-data" method="post" action="" class="form-group">
    {% csrf_token %}
    {{ form|crispy }} <br>
    <input type="submit" value="Save changes" class="btn btn-primary"/>
</form>

{% endblock %}