{% extends 'base.html' %}
{% load bootstrap4 %}
{% load comments %}


{% block title %}
<h2> Evnt: {{ event.name }} </h2>
{% endblock title %}


{% block content %}
<div class="event-detail">
    {% if messages %}
        <div class="alert alert-success w-75 m-5" role="alert">
            {% for message in messages %}
                <span> {{ message }} </span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            {% endfor %}
        </div>
    {% endif %}
   
    <div class="event">
        <div id="posted-by" class="mb-3 p-2">
            <p> Posted by: </p>
            {% if event.user.image %}
                <img src="{{ event.user.image.url }}" alt="My Avi" class="m-0">
            {% else %}
                <img src="/static/images/anon.png" alt="anon" class="m-0">
            {% endif %}
            <span> <a href="{{ event.user.get_absolute_url }}"> {{ event.user }} </a> </span> 
            <span> &sdot;&nbsp; {{ event.date_posted|timesince }} ago </span> 
            <div class="badge bg-primary py-1" id="badge">
                <p> {{ event.users_attending.count }} user{{ event.users_attending.count|pluralize }} {{ event.users_attending.count|pluralize:"is, are"}} attending this evnt. </p>
            </div>
        </div>


        <div>
            <p> Category: <a href="{{ event.category.get_absolute_url }}"> {{ event.category }} </a> </p>
            {% if tags %}
                <p> Tags:
                    {% for tag in tags %}
                        <a href="{% url 'events:event-tag' tag.slug %}"> {{ tag }}</a>
                    {% endfor %}
                </p>
            {% endif %}
        </div>

        <div class="py-2">
            {% if event.image %} <div class="image"> <img src="{{ event.image.url }}" alt=""> {% endif %} </div>
            <p> {{ event.description|safe }} </p>
            {% if event.host %} <p> Host: {{ event.host|title }} </p> {% endif %} 
            {% if event.special_guests %} <p> Special guests: {{ event.special_guests }} </p> {% endif %} 
            <p> Date of Evnt: {{ event.date_of_event }} </p>
            <p> Venue: {{ event.venue }} </p>
            <p> Ticket Price: {% if event.ticket_price %} ${{ event.ticket_price }} {% else %} Free {% endif %} </p>
        </div>

        <p class="note badge bg-success"></p>
        <div class="text-center p-5" style="margin: 0 auto;">
            <form action="" method="post" hx-post="." hx-target=".note" hx-swap="OuterHTML">
                {% csrf_token %}
                {% if request.user in event.users_attending.all %}
                    <p class="badge bg-warning">This evnt is already in your attend-list.</p><br>
                    <input type="submit" name="{{ event.id }}" class="btn btn-outline-primary" value="Remove from attend-list">
                {% else %}
                    <input type="submit" name="{{ event.id }}" class="btn btn-primary" value="Add to attend-list">
                {% endif %}
            </form>
           
            
        </div> 

        {% if user.is_superuser or user == event.user %}
            <div class="text-center">
                <p class="event-buttons">
                    <a class="btn btn-outline-primary px-2 py-1" href="{% url 'events:edit-event' event.slug %}"> Edit evnt </a>
                    <a class="btn btn-outline-danger px-2 py-1" href="{% url 'events:delete-event' event.slug %}"> Delete evnt </a>
                </p>
            </div>
        {% endif %}
    </div>

    <hr>
    <div class="cs my-5">
        {% if comments %}
            <h3> Comment Section </h3>
            {% for comment in comments %} 
                <p class="comments p-1">
                    <span style="font-weight:bold;"> {{ comment.username }}: </span> <br>
                    <span> {{ comment.comment }} <br> <i>  {{ comment.date_added|timesince }} ago </i> </span>
                    
                    <a href="." hx-get="." hx-target="outerHTML">reply</a>
                    {% for reply in comments %}
                        {{ reply.replies.all }}
                    {% endfor %}
                </p>
            {% endfor %} 
            <hr>
        {% endif %}
    </div>
    
    <h3> Add Comment</h3>
    <form action="" class="cs" method="post">
       {% csrf_token %}
        <p> <label for="username">Username: </label> <br>
            <input id="username" name="username" required type="text"> </p>
        
        <p> <label for="comment">Comment: </label> <br>
            <textarea id="comment" name="comment" required> </textarea> </p>
        <button class="btn btn-outline-success py-1 px-2 mp-3" type="submit"> Post comment </button>
    </form>


{% if related_events %}
    <hr>
    <div class="related mt-5">
       <h3> Related Events </h3>
        <div class="events my-5">
            {% for events in related_events|slice:6 %}
                <ul>
                    <li class="text-center"> {% if events.image %} <img src="{{ events.image.url }}" alt=""> <br> {% endif %}
                        <a href="{{  events.get_absolute_url  }}"> {{ events }}</a> <br> </li>
                </ul>
            {% endfor %}
        </div>
    </div>
{% endif %}
{% endblock %}


{% block footer %}
{% endblock %}















<hr>
<div class="cs my-5">
    {% if comment_set %}
        <h3> Comment Section </h3>
        {% for comments in comment_set %} 
            <p class="comments p-1">
                <span style="font-weight:bold;"> {{ comments.username }}: </span> <br>
                <span> {{ comments.comment }} <br> <i>  {{ comments.date_added|timesince }} ago </i> </span>
            </p>
        {% endfor %} 
        <hr>
    {% endif %}
</div>

<h3> Add Comment</h3>
<form action="" class="cs" method="post">
   {% csrf_token %}
    <p> <label for="username">Username: </label> <br>
        <input id="username" name="username" required type="text"> </p>
    
    <p> <label for="comment">Comment: </label> <br>
        <textarea id="comment" name="comment" required> </textarea> </p>
    <button class="btn btn-outline-success py-1 px-2 mp-3" type="submit"> Post comment </button>
</form>

{% if related_events %}
    <hr>
    <div class="related mt-5">
       <h3> Related Events </h3>
        <div class="events my-5">
            {% for events in related_events %}
                <ul>
                    <li class="text-center"> {% if events.image %} <img src="{{ events.image.url }}" alt=""> <br> {% endif %}
                        <a href="{{  events.get_absolute_url  }}"> {{ events }}</a> <br> </li>
                </ul>
            {% endfor %}
        </div>
    </div>
{% endif %}
</div>
