{% extends 'base.html' %}

{% block title %}
<h2> Evnts </h2>
{% endblock title %}


{% block content %}
<section>
    {% if messages %}
        <div class="alert alert-success">
            {% for messages in messages %}
                {{messages}} <a href="" style="color:green;" class="close">x</a>
            {% endfor %}
        </div>
    {% endif %}
    {% for event in events %}
        <div class="events-container">
            {% if event.past_event %}
                <p class="badge bg-secondary" id="badge"> Past evnt </p> 
            {% endif %}
            {% if event.image %}
                <div>
                    <img src="{{event.image.url}}" alt=""> 
                </div>
            {% endif %} <br>
            <a href="{{event.get_absolute_url}}"> {{event}} </a>
            <!--<span class="lol"> {{event.description|truncatechars:'150'}} </span> <br> --> <br>
            <div>
                <p>  {% if event.special_guests %} Featuring: {{event.special_guests}} <br> {% endif %} 
                    Date: {{event.date.date}} <br>
                    Venue: {{event.venue}} </p>
            </div>
        </div>  
    {% endfor %}
</section>
{% endblock content %}
