{% extends 'base.html' %}


{% block  title %}
<h2> My Private Evnts - <i class="fa fa-lock"></i></h2>
{% endblock %}


{% block content %}
<div> 
    <div class="alert alert-danger w-50 mb-5 text-center"> 
        Evnts in this section are not visible to the public. <br>
        Only you can view, edit or delete these evnts. 
    </div>

    <div>
        {% for events in my_events %}
            <div class="p-3 m-5 w-75 border">
                <div id="posted-by" class="mb-5 card-header border">
                    <span> You posted &sdot; {{ events.date_posted|timesince }} ago </span>
                </div>

                {% if events.past_event %}
                    <p class="badge bg-secondary" id="badge"> Past evnt </p> 
                {% endif %}
                
                <div class="mx-5 px-3">
                    {% if events.image %}
                        <div class="text-center"><img src="{{ events.image.url }}" alt=""></div>
                    {% endif %} 
                    <a href="{{ events.get_absolute_url }}"> {{ events }} </a>
                    <p> {{ events.description|truncatewords:25|safe }} </p> 
                </div> 
            </div>
        {% empty %}
            <p> You don't have any private evnts. </p>
        {% endfor %}
    </div>
</div>
{% endblock content %}


{% block footer %} {% endblock %}
