{% extends 'base.html' %}

{% block  title %}
<h2> My Private Evnts - <i class="fa-light fa-lock"></i></h2>
{% endblock %}


{% block content %}

<div class="mt-4"> 
    <div class="alert alert-warning w-50 text-center"> 
        Evnts in this page are not visible to the public. <br>
        Only you can view, edit or delete these evnts. 
    </div>

    {% for events in my_events %}
        <div class="events-container">
            {% if events.image %}
                <img src="{{events.image.url}}" alt=""> 
            {% endif %} 
            
            <p> <a href="{{ events.get_absolute_url_for_private_events }}"> {{events}} </a> <br>
            <!-- {{events.description|truncatewords:'30'}}  <br> -->
            Date - {{events.date.date}} <br>
            Venue - {{events.venue}} </p>
        </div> 
    {% empty %}
        <p class="container"> You don't have any private evnts. </p>
    {% endfor %}
</div>

{% endblock content %}


{% block footer %} {% endblock %}